body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
}
.container {
    display: flex;
    margin: 2%;
}
.column {
    display: flex;
    flex-direction: column;
}
.card {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 1;
    width: 95%;
    margin-bottom: 5%;
}
.active {
    opacity: 0.6;
    transform: scale(1.1);
}
img {
    width: inherit;
}